:root {
    --veryDarkBlue: hsl(216, 12%, 8%)

}

.ratingsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    min-height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color:hsl(216, 12%, 8%) ;
}